{{#if activeUser}}
  <form id="create-post" method="POST" action="/create_post">
    <input type="text" name="post_body" placeholder="Whats on your mind...">
    <input class="btn btn-navy" type="submit" value="Post">
  </form>
  {{else}}
  <div id="create-post">
    <p>Login to create a post</p>
    <a href="/login" class="btn btn-navy">Login</a>
  </div>
{{/if}}