<div class="home-page">

  {{> post_form}}

  <div id="posts-container" class="posts-container">
<!--
    {{#each posts}}
      <div class="post">
        <img src="images/jamie_follow_through.jpg" alt="Picture of Jamie">
        <div class="post-body">
          <h3>{{this.author}}</h3>
          <small>{{this.date}}</small>
          <p>{{this.body}}</p>
        </div>
      </div>
    {{/each}}
-->
  </div>

</div>