@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* universal styles */

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  display: block;
  width: fit-content;
  margin: 20px auto;
  font-size: 1rem;
}

.btn-wide {
  border-radius: 3px;
  cursor: pointer;
  padding: 10px;
  display: block;
  text-align: center;
  border: none;
  width: 100%;
  font-size: 1rem;
}

input:not([type="submit"]), select {
  padding: 8px;
  border-radius: 3px;
  font-size: 1rem;
  border: 1px solid grey;
  width: 100%;
  margin: 0 0 10px 0;
}

input:not([type="submit"]):focus, select:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

input[type="submit"]:focus {
  outline: none;
}

.pink {
  color: #df0043;
}

.pink:hover {
  color: #92002c;
}

.btn-pink {
  background-color: #df0043;
  color: white;
}

.btn-pink:hover {
  background-color: #92002c;
}

.btn-navy {
  background-color: #041853;
  color: white;
}

.btn-navy:hover {
  background-color: #000a29;
}

.message {
  width: 100%;
  text-align: center;
}

/* layout */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(219, 219, 219);
  padding: 5px 50px;
  line-height: 1.1;
}

header li {
  display: inline-block;
  margin: 0 20px;
}

header li:last-of-type {
  margin-right: 0;
}

/* login / register page */

.login-page {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.login-page main {
  width: 600px;
  border: 1px solid grey;
  display: flex;
  padding: 20px 0;
  border-radius: 10px;
}

.login-page main form {
  padding: 0 20px;
  flex: 1;
}

#login-form {
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.login-spacer {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

/* home page */

.home-page {
  flex: 1;
  width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

#create-post {
  width: 600px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 auto 50px auto;
}

#create-post input, #create-post a {
  margin: 0;
  border: none;
}

#create-post input[type="submit"], #create-post a {
  border-radius: 50px;
  padding-right: 30px;
  padding-left: 30px;
}

.post {
  margin-bottom: 30px;
  display: flex;
}

.post img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.post-body {
  flex: 1;
}

.post small {
  color: grey;
}

.post p {
  margin-top: 10px;
}